.layoutlist .MuiDrawer-paper {
    background-color: #030028 !important;
    color: #FFFFFF;
    font-family: Mazzard;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
}

/* 
.nested-list:hover {
    color: green;
}

.nested-list:active,
.nested-list:focus {
    background-color: green !important;
    color: black;
} */

.menuname .MuiListItemText-primary {
    font-weight: 800 !important;
    white-space: normal !important;
}

.menunameIsActive .MuiListItemText-primary {
    font-weight: 400 !important;
    white-space: normal !important;


}

.layoutcontainer {
    z-index: 9999 !important;
}

.backarrow:focus {
    outline: none !important;
}

.outletcontainer {
    position: absolute;
    top: 77px;
    padding: 18px;
    margin:auto
}

.opendrawer{
 width: calc(100% - 20%) !important;
  left: 268px;
}

.closedrawer{
     width: calc(100% - 20px) !important;
     left :40px
}